{% if not app.user %}
<header>
    <nav>
        <ul>
            <li>
                <a href="{{path("app_home_index")}}">Home</a>
            </li>
            <li>
                <a href="{{path("app_professionnel_index")}}">RDV <i class="fas fa-search"></i></a>
            </li>
            <li>
                <a href="{{path("app_registration_register")}}">Inscription</a> / <a href="{{path("app_security_login")}}">Connexion</a>
            </li>
        </ul>
    </nav>
</header>
{% else %}
    <header>
    <nav>
        <ul>
            <li>
                <a href="{{path("app_home_index")}}">Home</a>
            </li>
            <li>
                <a href="{{path("app_professionnel_index")}}">RDV <i class="fas fa-search"></i></a>
            </li>
            <li>
                <a href="{{path("app_profil_profil")}}"><i class="far fa-user-circle"></i></a>
            </li>
            <li>
                <a href="{{path("app_logout")}}">Déconnexion</a>
            </li>
        </ul>
    </nav>
</header>
{% endif %}